<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <provider
            android:name="com.sbro.emucorex.core.TestGameDocumentsProvider"
            android:authorities="com.sbro.emucorex.test.documents"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
